html,
body {
 	height: 100%;
	width: 100%;
	min-width: 320px;
	background-image: url("../images/test.jpg");
	background-size: 100%;
}


.contenu{
  height: 100% !important;
  background-size: 100%;
}

ul{
  margin-bottom: 0;
  padding-left: 0;
}

.openMenu{
  line-height: 0;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 0;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

     
